@import url('https://fonts.googleapis.com/css2?family=Source+Code+Pro:ital,wght@0,200..900;1,200..900&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


nav {
    background-color: #ffffff;
}

.genWrapper{
    max-width: 1000px;
    margin: auto;
}
.innerNav{
    display: flex;
    align-items: center;
    justify-content: space-around;
}

#toggle, .hamburger {
    display: none;
}
     /* logo section */

.DTL {
  /* border: 1px solid red; */
  display: flex;
  align-items: center;
  gap: 2px;
  color:  #0b1c2d;
   
}

.DTL > img {
  width: 28px;
  height: 28px;
  object-fit: contain;
}

.DTL > span {
  font-weight: 700;
  font-size: 1.2rem;
  font-family: "Source Code Pro", monospace;
}

.DTL, .thin {
  font-weight: 600;
  font-size: 1.2rem;
}
   /* logo section end */

    /* location section */
.innerNav > p {
    /* border: 1px solid blue; */
    display: flex;
    align-items: center;    
    font-size: 13px;
    font-family: "Source Code Pro", monospace;
    /* text-transform: capitalize; */
    gap: 4px;
    font-weight: 700;
    color: #c9a24d;
}

.innerNav > p > img {
    width: 12px;
    height: 12px;
    object-fit: contain;
}


 .innerNav > p > span {
    font-weight: 400;
    font-size: 14px;
 }
   /* location section end */

   /* search section */

.searchBox {
    /* border: 1px solid orange; */
    display: flex;
    align-items: center;
    gap: 4px;
    font-family: "Source Code Pro", monospace;
    /* font-weight: 400; */
    font-size: 13px;
    text-transform: capitalize;
    margin: 0 10px;
    cursor: pointer;
}

.searchBox > span {
    display: flex;
    align-items: center;
    gap: 4px;
}
.searchBox > span > a > i {
    font-size: 13px;
    color: #FFB30E;
}
.searchBox > span > h4 {
    font-size: 13px;
    font-weight: 700;
    font-family: "Source Code Pro", monospace;
    color: #c9a24d;
}
   /* search section end */

    /* button section */
.searchBox, .innerBtn {
  gap: 30px;
}

.innerBtn {
    border: 1px solid #fff;
    display: flex;
    gap: 6px;
    align-items: center;
    padding: 6px 11px;
    border-radius: 8px;
    background-color: #ffffff;
    box-shadow: -1px -0px 8px #FFAE004A;
    color: #c9a24d;
    cursor: pointer;
}

.innerBtn > img {
    width: 14px;
    height: 12px;
    object-fit: contain;
}

.innerBtn > h3 {
    font-family: "Source Code Pro", monospace;
    font-size: 13px;
    font-weight: 700;
    text-transform: capitalize;
}
    /* button section end */

  /* landingContent section */


.landing {
    background: #0a0a0a;
    padding: 60px 80px;
    display: flex;
    align-items: center;
    justify-content: space-eve;
    gap: 40px;
    
    
}

.landingContent {
    /* border: 1px solid #000; */
    /* background-color: #0f0f0f; */
    /* margin-right: 13rem; */
    /* padding: 5px; */
    /* margin: 5px 120px; */
    
}

.landingContent > h1 {
    font-family: "Source Code Pro", monospace;
    font-size: 2.5rem;
    font-weight: 700;
    color: #fff;
    padding: 10px 0px 0px 0px;
}

.landingContent > p {
    font-family: "Source Code Pro", monospace;
    font-size: 12px;
    margin: 10px 0;
    text-transform: capitalize;
    padding: 0px 0px 10px 0px;
    color: #c9a24d;
}

    /*tabContent section */

.tabContent {
    background-color: #fff;
    padding: 10px 5px;
    width: 35rem;
    border-radius: 12px;
}


.landingTab {
    display: flex;
    align-items: center;
    gap: 20px;
}

.active{

    background-color: #0f0f0f;
}

.landingTab > button {
    border: 1px solid #fff;
    display: flex;
    gap: 6px;
    align-items: center;
    padding: 6px 11px;
    border-radius: 8px;
    /* background-color: #ffffff; */
    box-shadow: -1px -0px 8px #FFAE004A;
    color: #c9a24d;
    margin-bottom: 15px;
    font-family: "Source Code Pro", monospace;
    cursor: b 
     ;

}

.active2 {
    background-color: #ffffff;
    font-weight: 500;
}

.active > span {
    color: #c9a24d;
    text-transform: capitalize;
    font-weight: 700;
    font-family: "Source Code Pro", monospace;

}

.tabSearch {
    border: 1px solid gray;
    padding: 8px 16px;
}



