@import url("https://fonts.googleapis.com/css2?family=Source+Code+Pro:ital,wght@0,200..900;1,200..900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

nav {
  background-color: #ffffff;
  position: fixed;
  width: 100%;
  z-index: 2;
}

.genWrapper {
  max-width: 1000px;
  margin: auto;
}

.innerNav {
  display: flex;
  align-items: center;
  justify-content: space-around;
  padding: 10px 5px;
  gap: 30px;
}

#toggle,
.hamburger {
  display: none;
}
/* logo section */

.DTL {
  display: flex;
  align-items: center;
  gap: 2px;
  color: #0b1c2d;
}
.dtl {
  width: 30px;
  height: 30px;
  border-radius: 100%;
  /* border: 2px solid #000; */
}
.dtl > img {
  width: 100%;
  height: 100%;
  border-radius: 100%;
  object-fit: cover;
}

.DTL > span {
  font-weight: 700;
  font-size: 1.2rem;
  font-family: "Source Code Pro", monospace;
}
.thin1 {
  font-weight: 600;
  font-size: 1.2rem;
  color: #c9a24d;
}
/* logo section end */

/* location section */
.address {
  display: flex;
  align-items: center;
  font-size: 10px;
  font-family: "Source Code Pro", monospace;
  gap: 8px;
  font-weight: 700;
  color: #c9a24d;
}

.innerNav > p > img {
  width: 12px;
  height: 12px;
  object-fit: contain;
}

.innerNav > p > span {
  font-weight: 400;
  font-size: 14px;
}
/* location section end */

/* search section */

.searchBox {
  display: flex;
  align-items: center;
  gap: 15px;
  font-family: "Source Code Pro", monospace;
  font-size: 13px;
  text-transform: capitalize;
  margin: 0 10px;
  cursor: pointer;
}

.searchBox > span {
  display: flex;
  align-items: center;
  gap: 4px;
}
.searchBox > span > a > i {
  font-size: 13px;
  color: #ffb30e;
}
.searchBox > span > h4 {
  font-size: 13px;
  font-weight: 700;
  font-family: "Source Code Pro", monospace;
  color: #c9a24d;
}
/* search section end */

/* button section */

.innerBtn {
  display: flex;
  gap: 6px;
  align-items: center;
  padding: 6px 11px;
  border-radius: 8px;
  background-color: #0f2027;
  box-shadow: -1px -0px 8px #0f2027;
  cursor: pointer;
}

.innerBtn > img {
  width: 14px;
  height: 12px;
  object-fit: contain;
}

.innerBtn > h3 {
  font-family: "Source Code Pro", monospace;
  font-size: 13px;
  font-weight: 700;
  text-transform: capitalize;
  color: #c9a24d;
}
/* button section end */

/* landingContent section */

.heroContainer {
  background: linear-gradient(to right, #0f2027, #203a43, #2c5364);
  padding: 7rem 0 0;
  gap: 30px;
}

.heroContentContainer {
  display: flex;
  gap: 5rem;
  /* border-radius: 2px solid #fff; */
  height: 50vh;
  overflow: hidden;
}

.heroContent {
  flex: 1;
  /* border: 1px solid black; */
  margin-left: 4rem;
  padding-bottom: 5rem;
}

.heroContent > h1 {
  font-family: "Source Code Pro", monospace;
  font-size: 2rem;
  font-weight: 700;
  color: #fff;
  padding: 15px 0px 15px 0px;
}

.heroContent > p {
  font-family: "Source Code Pro", monospace;
  font-size: 12px;
  margin: 10px 0;
  text-transform: capitalize;
  padding: 0px 0px 15px 0px;
  color: #c9a24d;
}

/*tabContent section */

.heroTabContent {
  background-color: #fff;
  border: 1px solid #ccc;
  padding: 15px 15px;
  width: 35rem;
  border-radius: 12px;
}

.heroTab {
  display: flex;
  align-items: center;
  gap: 20px;
}

.active {
  background-color: #0b1c2d;
}

.heroTab > button {
  border: 1px solid #fff;
  display: flex;
  gap: 6px;
  align-items: center;
  padding: 6px 11px;
  border-radius: 8px;
  /* background-color: #ffffff; */
  box-shadow: 0px 0px 8px #0f2027;
  border: none;
  color: #c9a24d;
  margin-bottom: 15px;
  font-family: "Source Code Pro", monospace;
  cursor: pointer;
}

.active2 {
  background-color: #203a43;
  font-weight: 500;
}

.active > img {
  color: #d6ae58;
}

.active > span {
  color: #c9a24d;
  text-transform: capitalize;
  font-weight: 700;
  font-family: "Source Code Pro", monospace;
}

.tabSearch {
  margin-top: 20px;
  display: flex;
  gap: 10px;
  width: 100%;

}

.tabSearch > input {
  flex: 0.5;
  padding: 14px;
  outline: none;
  border-radius: 8px;
  border: none;
  font-weight: 600;
  font-family: "Source Code Pro", monospace;
  background-color: #f5f5f5;
}

.tabSearch > button {
  display: flex;
  align-items: center;
  height: 40px;
  font-weight: 500;
  background: #0b1c2d;
  box-shadow: -1px -0px 8px #0f2027;
  color: #c9a24d;
  border: none;
  padding: 22px;
  border-radius: 8px;
  cursor: pointer;
  font-family: "Source Code Pro", monospace;
}

.tabSearch > button > i {
  font-size: 16px;
  padding: 6px;
   color: #c9a24d
}

/* tabContent section end  */

/* landingimg section  */

.heroimageCont {
  margin-top: 6rem;
  flex: 1;
}

.image {
  width: 250px;
  height: 250px;
  border-radius: 100%;
}

.image > img {
  width: 100%;
  height: 100%;
  /* width: 380px; */
  /* max-width: none; */
  border-radius: 100%;
}

/* landingImg section end*/

/* mainImg section  */

.display-container {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  background: #ccc;
  padding: 20px;
}

.display-card {
  width: 200px;
  background-color: #ccc;
  margin-top: 100px;
  border-radius: 8px;
  overflow: hidden;
  margin: 20px;
  text-align: start;
}
.card {
  width: 200px;
  height: 150px;
  border-radius: 6px;
}

.card > img {
  width: 100%;
  height: 100%;
  border-radius: 6px;
  object-fit: cover;
}

.display-card-content {
  padding: 16px;
}
.display-card-content > h3 {
  font-size: 18px;

  margin-bottom: 8px;
  color: #d6ae58;
  text-transform: capitalize;
}

.display-card-content > a {
  display: inline-block;
  padding: 8px 16px;
  background-color: #0f2027;
  text-decoration: none;
  border-radius: 8px;
  margin-top: 8px;
  color: #c9a24d;
  text-align: start;
}

/* how it works section */

.instructionsSection {
  background-color: #fffaf3;
  font-family: "Source Code Pro", monospace;
}

.secTitle {
  padding: 60px 40px;
  text-align: center;
  color: #ff9900;
  font-size: 28px;
  margin-bottom: 10px;
}

.steps {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 20px;
  flex-wrap: wrap;
  padding: 0px 20px 80px;
  
}

.step {
  width: 200px;
  background-color: #fffaf3;
  border-radius: 8px;
  overflow: hidden;
  text-align: center;
}

.icon {
  width: 50px;
  height: 50px;
  /* background-color: #ff9900; */
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0 auto 15px;
}

.icon > img {
  font-size: 20px;
  width: 100%;
  height: 100%;
}

.step > h3 {
  font-size: 11px;
  margin-bottom: 8px;
  color: #222;
}

.step > p {
  font-size: 9px;
  color: #666;
  line-height: 1.5;
}
/* popular section */

.popular {
  background: linear-gradient(to bottom, #0f2027, #203a43, #2c5364);
  font-family: "Source Code Pro", monospace;
}

.popularcontent > h2 {
  padding: 40px 20px;
  text-align: center;
  color: #ff9900; /* change color */
  font-size: 30px;
  margin-bottom: 40px;
  text-transform: capitalize;
}

.popularCont {
  display: flex;
  align-items: center;
  gap: 20px;
}

.btn {
  border: none;
  background-color: #ffa500;
  color: #fff;
  font-size: 20px;
  width: 40px;
  height: 40px;
  cursor: pointer;
  border-radius: 50%;
}

.popularList {
  display: flex;
  gap: 15px;
  overflow: hidden;
}

.popularCard {
  background: linear-gradient(to to, #0f2027, #203a43, #2c5364);
  width: 200px;
  padding: 10px;
  border-radius: 10px;
  text-align: start;
}

.popularCard > img {
  width: 100%;
  border-radius: 6px;
}

.popularCard > p {
  color: #ff7a00;
  font-weight: bold;
}

.popularCard > h4 {
  margin: 10px 0 5px;
  color: #d6ae58;
  font-weight: 1000;
  text-transform: capitalize;
}

.popularCard > button {
  margin-top: 8px;
  background: #0f2027;
  box-shadow: -1px -0px 8px #0f2027;
  border: none;
  color: #c9a24d;
  cursor: pointer;
  padding: 6px 10px;
  border-radius: 8px;
}

/* popular section end  */

/* foodGrid section */

.foodGridTitle {
  /* background:linear-gradient(to top, #0f2027, #203a43, #2c5364);  */
  font-family: "Source Code Pro", monospace;
  background: #fff;
}

.foodGridTitle > h1 {
  padding: 40px 20px;
  text-align: center;
  color: #ff9900; /* change color */
  font-size: 30px;
  margin-bottom: 40px;
  text-transform: capitalize;
}

.foodGrid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(220px, 1fr));
  gap: 20px;
}

.foodCard {
  background: #000;
  padding: 10px;
  border-radius: 10px;
  position: relative;
  margin-bottom: 20px;
  margin-right: 20px;
  margin-left: 20px;
}

.foodCard > img {
  width: 100%;
  border-radius: 8px;
  display: block;
  padding: 0;
  margin-bottom: 10px;
}

.foodCard > .fCimg {
  width: 30%;
  border-radius: 2px;
  gap: 10px;
  margin-bottom: 10px;
}

.foodCard > h4 {
  margin: 10px 0;
  color: #c9a24d;
  font-size: 15px;
  right: 5px;
  bottom: 2.8rem;
  position: absolute;
}

.foodCard > .one {
  background: #84e79b;
  border: none;
  color: #1eb842;
  padding: 6px 12px;
  border-radius: 8px;
  cursor: pointer;
  margin-top: 10p;
}

.foodCard > button {
  background: #f1722833;
  border: none;
  color: #f17228;
  padding: 6px 12px;
  border-radius: 8px;
  cursor: pointer;
}

.badgeHot {
  position: absolute;
  background: #0f2027;
  top: 10px;
  display: flex;
  left: 10px;
  padding: 4px 8px;
  font-size: 12px;
  color: #c9a24d;
}

/* foodGrid section end */

/*  featured Brand section */

.WatchSelection {
  background: linear-gradient(to bottom, #fff7e6, #ffcc66);
}

.WatchSelectionCont {
  max-width: 1000px;
  margin: auto;
  padding: 40px 20px;
  font-family: "Source Code Pro", monospace;
}

.WatchSelectionTitle {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.WatchSelectionTitle > h2 {
  font-size: 24px;
}

.WatchSelectionTitle > span > a {
  color: orange;
  text-decoration: none;
  font-size: 15px;
}

.button {
  border: none;
  background-color: #ffa500;
  color: #fff;
  font-size: 20px;
  width: 40px;
  height: 40px;
  cursor: pointer;
  border-radius: 50%;
}

.button2 {
  border: none;
  background-color: #ffa500;
  color: #fff;
  font-size: 20px;
  width: 40px;
  height: 40px;
  cursor: pointer;
  border-radius: 50%;
}

.watchList {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 20px;
  margin-top: 40px;
  flex-wrap: wrap;
}

.watchItem {
  text-align: center;
}

.watch-image {
  width: 100px;
  border-radius: 100%;
  height: 100px;
  background-color: #f17228;
}

.watch-image > img {
  width: 100%;
  height: 100%;
  border-radius: 100%;
  object-fit: contain;
}

.watchItem > a {
  text-decoration: none;
  color: #f17228;
}

.watchItem > a > p {
  margin-top: 8px;
  font-size: 14px;
  font-weight: 700;
}

/* DEALS CONTAINER SECTION */

.deals {
  background: #fff;
  font-family: "Source Code Pro", monospace;
}

.deal-cards {
  display: flex;
  flex-direction: column;
  gap: 40px;

  margin: 60px auto;
  max-width: auto;
}

.deal-card {
  background: #fff;
  display: flex;
  overflow: hidden;
  gap: 30px;
  /* padding: 10px; */
  border-radius: 14px;
  box-shadow: 0 10px 25px rgba(0, 0, 0, 0.08);
}

.deal-image {
  width: 38rem;
  height: 300px;
}

.deal-image > img {
  width: 100%;
  height: 100%;
  border-radius: 14px;
}

.deal-text {
  width: 30%;
  margin-right: 2rem;
  margin-left: 2rem;
  margin-top: 3rem;
}

.deal-text > h3 {
  font-size: 25px;
  margin-bottom: 10px;
  text-transform: capitalize;
}

.deal-text > h3 > span {
  font-size: 25px;
  color: #d6ae58;
}

.deal-text > p {
  color: #d6ae58;
  font-size: 14px;
  margin-bottom: 20px;
}

.deal-text > button {
  background: #ff9f0d;
  border: none;
  padding: 12px 80px;
  color: white;
  font-weight: bold;
  border-radius: 8px;
  cursor: pointer;
  margin-top: 3rem;
}




@media (min-width: 260px) and (max-width: 460px) {
  .hamburger {
    display: block;
    font-size: 20px;
    color: #000;
    font-weight: 900;
    
  }

  .DTL {
    font-size: 15px;
  }

  .address {
    display: none;
  }

  .searchBox {
    display: none;
  }

  .innerNav {
    /* border: 2px solid black; */
    width: calc(100% - 30px);
  }

  .heroContainer {
    padding: 5rem 0 0;
  }

  .heroContentContainer {
    border: 2px solid greenyellow;
    width: calc(100% - 30px);
    flex-direction:column ;
    overflow: scroll;
  
  }

  .heroContent {
     width: calc(100% - 30px);
    margin-left: 0;
  }

  .heroContent > h1 {
    font-size: 25px

  }

  .heroimageCont {
     width: calc(100% - 30px);
    
  }

  .image > img  {
    margin-top: -80px;
  }

  .display-card {
     width: calc(100% - 30px);
    flex-direction: row;
  }
}