@import url("https://fonts.googleapis.com/css2?family=Source+Code+Pro:ital,wght@0,200..900;1,200..900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

nav {
  background-color: #ffffff;
  position: fixed;
  width: 100%;
  z-index: 1000;
}

.genWrapper {
  max-width: 1000px;
  margin: auto;
}

.innerNav {
  display: flex;
  align-items: center;
  justify-content: space-around;
  position: initial;
}

#toggle,
.hamburger {
  display: none;
}
/* logo section */

.DTL {
  /* border: 1px solid red; */
  display: flex;
  align-items: center;
  gap: 2px;
  color: #0b1c2d;
}

.DTL > img {
  width: 28px;
  height: 28px;
  object-fit: contain;
}

.DTL > span {
  font-weight: 700;
  font-size: 1.2rem;
  font-family: "Source Code Pro", monospace;
}
.thin1 {
  font-weight: 600;
  font-size: 1.2rem;
  color: #c9a24d;
}
/* logo section end */

/* location section */
.innerNav > p {
  /* border: 1px solid blue; */
  display: flex;
  align-items: center;
  font-size: 13px;
  font-family: "Source Code Pro", monospace;
  /* text-transform: capitalize; */
  gap: 4px;
  font-weight: 700;
  color: #c9a24d;
}

.innerNav > p > img {
  width: 12px;
  height: 12px;
  object-fit: contain;
}

.innerNav > p > span {
  font-weight: 400;
  font-size: 14px;
}
/* location section end */

/* search section */

.searchBox {
  /* border: 1px solid orange; */
  display: flex;
  align-items: center;
  gap: 4px;
  font-family: "Source Code Pro", monospace;
  /* font-weight: 400; */
  font-size: 13px;
  text-transform: capitalize;
  margin: 0 10px;
  cursor: pointer;
}

.searchBox > span {
  display: flex;
  align-items: center;
  gap: 4px;
}
.searchBox > span > a > i {
  font-size: 13px;
  color: #ffb30e;
}
.searchBox > span > h4 {
  font-size: 13px;
  font-weight: 700;
  font-family: "Source Code Pro", monospace;
  color: #c9a24d;
}
/* search section end */

/* button section */

.innerBtn {
  gap: 30px;
}

.innerBtn {
  border: 1px solid #fff;
  display: flex;
  gap: 6px;
  align-items: center;
  padding: 6px 11px;
  border-radius: 8px;
  background-color: #0f2027;
  box-shadow: -1px -0px 8px #0f2027;
  color: #c9a24d;
  cursor: pointer;
}

.innerBtn > img {
  width: 14px;
  height: 12px;
  object-fit: contain;
}

.innerBtn > h3 {
  font-family: "Source Code Pro", monospace;
  font-size: 13px;
  font-weight: 700;
  text-transform: capitalize;
}
/* button section end */

/* landingContent section */

.landing {
  background: linear-gradient(to right, #0f2027, #203a43, #2c5364);
  padding: 80px 80px;

  display: flex;
  align-items: center;
  justify-content: space-eve;
  gap: 40px;
}

.landingContent {
  /* border: 1px solid #000; */
  /* background-color: #0f0f0f; */
  margin-right: 13rem;
  /* padding: 5px; */
  /* margin: 5px 120px; */
}

.landingContent > h1 {
  font-family: "Source Code Pro", monospace;
  font-size: 2rem;
  font-weight: 700;
  color: #fff;
  padding: 15px 0px 15px 0px;
}

.landingContent > p {
  font-family: "Source Code Pro", monospace;
  font-size: 12px;
  margin: 10px 0;
  text-transform: capitalize;
  padding: 0px 0px 15px 0px;
  color: #c9a24d;
}

/*tabContent section */

.tabContent {
  background-color: #fff;
  border: 1px solid #ccc;
  padding: 15px 15px;
  width: 35rem;
  border-radius: 12px;
}

.landingTab {
  display: flex;
  align-items: center;
  gap: 20px;
}

.active {
  background-color: #0b1c2d;
}

.landingTab > button {
  border: 1px solid #fff;
  display: flex;
  gap: 6px;
  align-items: center;
  padding: 6px 11px;
  border-radius: 8px;
  /* background-color: #ffffff; */
  box-shadow: 0px 0px 8px #0f2027;
  border: none;
  color: #c9a24d;
  margin-bottom: 15px;
  font-family: "Source Code Pro", monospace;
  cursor: pointer;
}

.active2 {
  background-color: #203a43;
  font-weight: 500;
}

.active > img {
  color: #d6ae58;
}

.active > span {
  color: #c9a24d;
  text-transform: capitalize;
  font-weight: 700;
  font-family: "Source Code Pro", monospace;
}

.tabSearch {
  margin-top: 20px;
  display: flex;
  gap: 10px;
}

.tabSearch > input {
  flex: 1;
  padding: 14px;
  outline: none;
  border-radius: 8px;
  border: none;
  font-weight: 600;
  font-family: "Source Code Pro", monospace;
  background-color: #f5f5f5;
}

.tabSearch > button {
  display: flex;
  align-items: center;
  height: 40px;
  font-weight: 500;
  background: #0b1c2d;
   box-shadow: -1px -0px 8px #0f2027;
  color: #c9a24d;
  border: none;
  padding: 22px;
  border-radius: 8px;
  cursor: pointer;
  font-family: "Source Code Pro", monospace;
}

.tabSearch > button > i {
  font-size: 16px;
  padding: 6px;
}

/* tabContent section end  */

/* landingimg section  */
/*  
.lanimg {
display: flex;
  gap: 15px;
  overflow: hidden;
} */
.landingImg {
  position: relative;
  
}

.landingImg > img {
  position: absolute;
  width: 350px;
  max-width: none;
  right: -19rem;
  bottom: -130px;
  border-radius: 50%;
  padding: 40px;
  margin-right: -60px;
}

/* landingImg section end*/

/* mainImg section  */

.cardContainer {
  display: flex;
  gap: 20px;
  /* flex-wrap: wrap;   */
  font-family: "Source Code Pro", monospace;
  background-color: #f9f9f9;
  justify-content: center;
  padding: 20px;
}

.card {
  background: #fff;
  border-radius: 12px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
  width: 220px;
  height: 25%;
  overflow: hidden;
  /* display: inline; */
  position: relative;
}

.card > img {
  width: 100%;
  height: 80%;
  display: block;
  border-radius: 6px;

  /* position: relative; */
}

.discountBadge {
  position: absolute;
  top: 15.7rem;
  left: -8px;
  background-color: #ff9f1c;
  color: #fff;
  padding: 5px 10px;
  border-radius: 8px;
  font-size: 25px;
  font-weight: 700;
}

.cardContent {
  padding: 15px;
  text-align: start;
  background: linear-gradient(to left, #0f2027, #203a43, #2c5364);
}

.productName {
  font-weight: bold;
  margin-bottom: 8px;
  color: #fff;
}

.daysRemaining {
  background-color: #ffd6a5;
  color: #ff7f50;
  font-size: 12px;
  padding: 4px 8px;
  border-radius: 6px;
  display: inline-block;
  font-weight: 700;
}

/* how it works section */

.instructionsSection {
  background-color: #fffaf3;
  font-family: "Source Code Pro", monospace;
}

.secTitle {
  padding: 60px 40px;
  text-align: center;
  color: #ff9900;
  font-size: 20px;
  margin-bottom: 40px;
}

.steps  {
  display: flex;
  justify-content: center;
  gap: 40px;
  flex-wrap: wrap;
}

.step {
  max-width: 220px;
}

.icon {
  width: 70px;
  height: 70px;
  /* background-color: #ff9900; */
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0 auto 15px;
}

.icon > img {
  font-size: 28px;
}

.step > h3 {
  font-size: 16px;
  margin-bottom: 8px;
  color: #222;
}

.step > p {
  font-size: 13px;
  color: #666;
  line-height: 1.5;
}
/* popular section */

.popular {
  background:linear-gradient(to bottom, #0f2027, #203a43, #2c5364); 
      font-family: "Source Code Pro", monospace;
     
}

.popular > h2 {
  padding: 40px 20px; 
  text-align: center;
  color: #ff9900; /* change color */
  font-size: 30px;
  margin-bottom: 40px;
  text-transform: capitalize;
}

.popularCont {
  display: flex;
  align-items: center;
  gap: 20px;
  
}

.btn {
  border: none;
  background-color: #ffa500;
  color: fff;
  font-size: 20px;
  width: 40px;
  height: 40px;
  cursor: pointer;
  border-radius: 50%;
}


.popularList {
  display: flex;
  gap: 15px;
  overflow: hidden;

}

.popularCard{
  background:linear-gradient(to to, #0f2027, #203a43, #2c5364); ;
  width: 200px;
  padding: 10px;
  border-radius: 10px;
  text-align: start;
}

.popularCard > img {
  width: 100%;
  border-radius: 6px;
}

.popularCard > p {
  color: #ff7a00;
  font-weight: bold;
}

.popularCard > h4 {
  margin: 10px 0 5px;
  color: #d6ae58;
  font-weight: 1000;
  text-transform: capitalize;
}

.popularCard > button {
  margin-top: 8px;
  background: #0f2027;
   box-shadow: -1px -0px 8px #0f2027;
   border: none;
   color: #c9a24d;
   cursor: pointer;
   padding: 6px 10px;
   border-radius: 8px;
}


/* popular section end  */

/* foodGrid section */



.foodGridTitle {
  /* background:linear-gradient(to top, #0f2027, #203a43, #2c5364);  */
  font-family: "Source Code Pro", monospace;
  background: #fff;
}

.foodGridTitle > h1 {
  padding: 40px 20px;
  text-align: center;
  color: #ff9900; /* change color */
  font-size: 30px;
  margin-bottom: 40px;
  text-transform: capitalize;
}


.foodGrid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(220px, 1fr));
  gap: 20px;
}


.foodCard {
  background: #000;
  padding: 10px;
  border-radius: 10px;
  position: relative;
   margin-bottom: 20px;
   margin-right:20px;
   margin-left: 20px;
}

.foodCard > img {
  width: 100%;
  border-radius: 8px;
  display: block;
  padding: 0;
   margin-bottom: 10px;
}

.foodCard > .fCimg {
  width: 30%;
  border-radius: 2px;
  gap: 10px;
  margin-bottom: 10px;
}

.foodCard > h4 {
  margin: 10px 0;
  color: #c9a24d;
  font-size: 15px;
  right: 5px; 
  bottom: 2.8rem;
  position: absolute;
}


.foodCard > .one {
  background: #84e79b;
  border: none;
  color: #1eb842;
  padding: 6px 12px;
  border-radius: 8px;
  cursor: pointer;
  margin-top: 10p;
}

.foodCard > button {
    background: #F1722833;
  border: none;
  color: #F17228;
  padding: 6px 12px;
  border-radius: 8px;
  cursor: pointer;
}

.badgeHot {
  position: absolute;
  background: #0f2027;
  top: 10px;
  display: flex;
  left: 10px;
  padding: 4px 8px;
  font-size: 12px;
  color: #c9a24d;
}

/* foodGrid section end */

/* WatchSelection section */

.WatchSelection {
  background: linear-gradient(to bottom, #fff7e6, #ffcc66);
}

.WatchSelectionCont {
  max-width: 1000px;
  margin: auto;
  padding: 40px 20px;
  font-family: "Source Code Pro", monospace;
}

.WatchSelectionTitle{
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.WatchSelectionTitle > h2 {
  font-size: 24px;
}

.WatchSelectionTitle > span > a {
  color: orange;
  text-decoration: none;
  font-size: 15px;
}

.button {
    border: none;
  background-color: #ffa500;
  color: #fff;
  font-size: 20px;
  width: 40px;
  height: 40px;
  cursor: pointer;
  border-radius: 50%;
}

.button2 {
      border: none;
  background-color: #ffa500;
  color: #fff;
  font-size: 20px;
  width: 40px;
  height: 40px;
  cursor: pointer;
  border-radius: 50%;
}
  
.watchList {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 20px;
  margin-top: 40px;
  flex-wrap: wrap;
}

.watchItem {
  text-align: center;
}


.watchItem > img{
  width: 80%;
  height: 100px;
  border-radius: 80%;
  object-fit: cover;
}

.watchItem > a {
  text-decoration: none;
  color: #F17228;
}

.watchItem > a > p {
  margin-top: 8px;
  font-size: 14px;
  font-weight: 700;
}








